.detail {
    display: flex;
    align-items: center;
    height: 90vh;

    .container {
        display: flex;
        gap: 50px;

        .image-wrap {
            img {
                width: 20em;
            }
        }

        .desc-wrap {
            color: white;

            ul {
                list-style: none;
                margin: 0 0 30px;
                padding: 0;

                li {
                    padding-left: 100px;
                    font-weight: 300;
                    font-size: 15px;
                    position: relative;
                    text-align: justify;
                    line-height: 1.8;

                    span {
                        min-width: 90px;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                }

                .trailer-wrap {
                    margin: 3em 5em 3em 5em;

                    .btn-wrap {
                        display: flex;
                        justify-content: center;
                        gap: 10em;
                        margin: 15px 0;

                        a {
                            background-color: transparent;
                            text-decoration: none;
                            outline: none;
                            color: white;
                            letter-spacing: 1px;
                            font-size: 22px;
                            font-weight: 600;
                            transition: 0.2s ease-in-out;

                            &:hover {
                                color: #6583a0;
                            }
                        }
                    }
                }
            }
        }

    }
}